body {
  background-color: #d3d3d312;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.thumb-nail {
  list-style: none;
}

.thumb-nail > img {
  width: 15vh;
}
.thumb-text {
  font-size: 0.5em;
}
  
#picker {
  min-width: 25vw;
  padding-right: 5px;
}

#pickerScrollbox {
  max-height: 80vh;
  overflow-y: auto
}